@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
#sticky-top {
position: fixed;
background-color: #efefef;
z-index: 10000;
width:100%;
}
#header {margin-top:40px;}
#menu-item-6370 > a > img { height:20px;width:20px; }
body {background:initial}
/*.main-nav {width:1006px;margin:0 auto;clear:both;}*/
.main-nav {width:100%;margin:0 auto;clear:both;}
#main-nav-wrapper {
width: 100%;
height: 45px;
background-color: #369;
clear: both;
}
#sub-header-menu-wrapper {
clear: both;
background-color: #fff;
border-top: none;
margin: 0px;
width:100%;}

.sub-header-menu {
background-color: #fff;
border: 0px;
margin: 0 auto;
/*width:1006px;*/
width:100%;
}
.sub-header-menu a {
color:#2b4c92;
font-family:StagBook;
}
#logo-social {width:100%;margin:0 auto;}
/*#logo-social {width:1006px;margin:0 auto;}*/
.dept-titles a {font-weight:700;}
.sub-header-menu, .sub-header-menu ul {margin: 0 auto;}
#menu-item-1111017 {border-left: 1px solid #ccc;}
#menu-item-986297 {border-right: 1px solid #ccc;}
#menu-main li a {font-weight:400;text-shadow:none;font-family:StagBook;font-size:13px;}
#left-col {
position:relative;
float:left;
width:530px;
}
.widget_lptv_widget {background-color:#000;width:300px;position:relative;float:left;margin-bottom:5px;margin-top:5px;height:345px;}
#dept-block {border:0px solid #000;background-color:#eae8dd;margin:0px;padding:10px;min-height:217px;}
#dept-story-1 {position:relative;float:left;width:49%;padding-top:5px;padding-left:5px;}
#dept-story-2 {position:relative;float:right;width:49%;padding-top:5px;}
#center-home-ad-2 {position:relative;margin:4px 4px 4px 4px;float:right;}
#tagbox {width:100%;padding-bottom:10px;padding-top:0px;background-color:#f5f5f5;position:relative;float:left;font-size:1.2em;overflow:hidden;border: 1px solid #e5e5e5;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;}
.col-620 {width: 69%;}
.home .su-column-size-1-4 {width:145px;position:relative;float:right;padding:0;margin:0;overflow:hidden;}
.destacados-titles a {font-weight:700;}
.slide-description {line-height:1.2;font-size:.64em;}
#lptv-slider img {
background-color:#000;
border-radius: 0px;
padding: 2px;
border: 1px solid #000;
height:60px;
}
.lptv_carousel_title {margin: 1px 0px 1px 3px;height:50px;}
.img-div {max-width:100%;}
#shortcodes-ultimate-89 > div.widget-title > h3 { display:none; }
#shortcodes-ultimate-89 > div.textwidget > div:nth-child(2) { height:330px; }
#shortcodes-ultimate-89  { padding:0px; }
/*
#shortcodes-ultimate-51 > div.widget-title > h3 { display:none; }
#shortcodes-ultimate-51 { padding:0px; }
#shortcodes-ultimate-80 > div.widget-title > h3 { display:none; }
#shortcodes-ultimate-80 { padding:0px; }
#shortcodes-ultimate-81 > div.widget-title > h3 { display:none; }
#shortcodes-ultimate-81 > div.textwidget > div:nth-child(2) > div:nth-child(3) > div > div.su-tabs-panes > div:nth-child(2) { padding:0px; }
#shortcodes-ultimate-81 > div.textwidget > div:nth-child(2) > div:nth-child(3) > div > div.su-tabs-panes > div:nth-child(1) { padding:0px; }
#shortcodes-ultimate-81 > div.textwidget > div.su-animate.fadeIn.animated > div { background-color:#fff; }
#shortcodes-ultimate-81 {border:0px solid #fff;padding:0px;}
#shortcodes-ultimate-81 > div.textwidget > div:nth-child(2) > div:nth-child(3) > div > div.su-tabs-panes > div:nth-child(2) { padding:0px; }
#shortcodes-ultimate-81 > div.textwidget > div:nth-child(2) > div:nth-child(3) > div > div.su-tabs-panes > div:nth-child(1) { padding:0px; }
#shortcodes-ultimate-81 > div.textwidget > div.su-animate.fadeIn.animated > div { background-color:#fff; }
#shortcodes-ultimate-86 { padding:0px; }
#shortcodes-ultimate-86 > div.widget-title > h3 { display:none; }
#shortcodes-ultimate-100 { padding:0px;background-color:#000;border-color:#000; }
#shortcodes-ultimate-100 > div.widget-title { display:none; }
#shortcodes-ultimate-101 {background-color:#fff;border:0px;border-color:#fff;padding:0px;}
#shortcodes-ultimate-101 > div.widget-title > h3 { display:none; } 
#shortcodes-ultimate-100 > div.widget-title { display:none; }
#shortcodes-ultimate-101 { background-color:#fff;border:0px;border-color:#fff; }
#shortcodes-ultimate-101 {padding:0px;}
#shortcodes-ultimate-101 > div.widget-title > h3 { display:none; } 
#shortcodes-ultimate-103 { padding:0px; }
#shortcodes-ultimate-103 { padding:0px; }
#shortcodes-ultimate-104 { padding:0px; }
#shortcodes-ultimate-104 { padding:0px; }
#shortcodes-ultimate-105 { padding:0px; }
#shortcodes-ultimate-106 > div.widget-title { display:none; }
#shortcodes-ultimate-106 { padding:0px; }
#shortcodes-ultimate-116 > h2 { display:none; }
#shortcodes-ultimate-127 > div > div > div.su-box-content.su-clearfix { padding:0px;margin:0px; }
*/
#shortcodes-ultimate-109 > h2 { display:none; }
#shortcodes-ultimate-109 > div.widget-title { display:none; }
#shortcodes-ultimate-109 > div.textwidget > div:nth-child(3) > div > div.su-tabs-panes { width:300px; }
#shortcodes-ultimate-109 > div.textwidget > div:nth-child(3) > div > div.su-tabs-panes > div:nth-child(3) { padding:0px; }
#shortcodes-ultimate-109 > div.textwidget > div:nth-child(3) > div > div.su-tabs-panes > div:nth-child(2) { padding:0px; } 
#shortcodes-ultimate-109 > div.textwidget > div:nth-child(3) > div > div.su-tabs-panes > div:nth-child(1) { padding:0px; }
#shortcodes-ultimate-111 > h2 { display:none; }
#shortcodes-ultimate-126 div.su-box-title {display:none;}
#shortcodes-ultimate-132 .su-tabs-current .op-title {background-color:#fff;border: 1px solid #ccc;border-top-left-radius:6px;}
#shortcodes-ultimate-132 .su-post {margin:8px;}
#shortcodes-ultimate-132 .su-tabs-pane {background-color:#f2f2f2;padding:2px 4px 2px 4px;border:0px;}
#shortcodes-ultimate-132 .su-tabs-nav {background-color:#f2f2f2;height:46px;}
#shortcodes-ultimate-132 .su-tabs-nav span {display:inline-block;margin:0;padding:0;background-color:#f2f2f2;border:0px;}
#shortcodes-ultimate-137 {width:300px;position:relative;float:left;}
#shortcodes-ultimate-138 > div > div > div.su-tabs-nav > span.su-tabs-current { background-color:#1C1D1D;color:#fff;text-shadow:initial;}
#shortcodes-ultimate-138 > div > div.su-tabs.su-tabs-style-modern-light > div.su-tabs-panes > div { padding:0px;border:0px solid #fff; }
#shortcodes-ultimate-138 > div > div.su-tabs.su-tabs-style-modern-light > div.su-tabs-panes > div:nth-child(1) > div > div.su-box-title { display:none; }
#shortcodes-ultimate-138 > div > div.su-tabs.su-tabs-style-modern-light > div.su-tabs-panes > div:nth-child(2) > div > div.su-box-title { display:none; }
#shortcodes-ultimate-149 h2 { display:none; }
#shortcodes-ultimate-218 > div > div > div.su-tabs-nav > span.su-tabs-current { background-color:#1C1D1D;color:#fff;text-shadow:initial;}
#shortcodes-ultimate-218 > div > div.su-tabs.su-tabs-style-modern-light > div.su-tabs-panes > div { padding:0px;border:0px solid #fff; }
#shortcodes-ultimate-218 > div > div.su-tabs.su-tabs-style-modern-light > div.su-tabs-panes > div:nth-child(1) > div > div.su-box-title { display:none; }
#shortcodes-ultimate-218 > div > div.su-tabs.su-tabs-style-modern-light > div.su-tabs-panes > div:nth-child(2) > div > div.su-box-title { display:none; }

.su-tabs-style-modern-light .su-tabs-nav span.su-tabs-current {text-shadow:initial;}
#op-container {position:relative;float:left;width: 300px;background-color: #f2f2f2;border: 1px solid #ccc;padding-bottom:4px;}
#op-container .su-tabs {margin:0px;}
#op-tabs {position:relative;float:left;}
#op-tabs .op-title {width:89px;color:#333;font-family:Arial;font-size:12px;text-align:center;margin: 4px 0px 1px 4px;}
#op-tabs.editorial-tab .op-title {padding-top:10px;padding-bottom:10px;}
.opinion-posts {
width: 288px;
height: 400px;
border: 1px solid #ccc;
background-color: #fff;
}
.opinion-excerpt {font-size:.9em;min-height: 126px;}
#bottom-section .su-row .su-column-size-2-3 {margin:0px 0px 0px 0px;}
#bottom-section .suplementos-home-bottom {width:700px;}
.supl-cat
{
position:relative;
float:left;
min-height:200px;
margin-left:6px;
margin-bottom:20px;
width:165px;
}
.supl-img
{
position:relative;
width:160px;
height:163px;
margin-top:0px;
margin-bottom:0px;
}
.supl-img img {
width:160px;
height:163px;
margin-bottom:5px 
}
.supl-cat-title-box
{
margin-left:5px;
margin-right:5px;
line-height:1.2em;
width:165px;
}
.supl-titles a
{
color:#333;
font-family:Arial Bold;
font-size:11px;
line-height:1.2em;
}
#bottom-section .cartelera-home-bottom {width:657px;}
#bottom-section .right-ad-home-bottom {width:310px;}
.cart-home-box {
padding-left: 8px;
height: 300px;
border: 1px solid #ccc;
}
#ad-120x600 {width:120px;position:relative;float:right;margin:40px 20px 0 0;}
/*.fa .fa-calendar i {position:relative;float:left;}*/
form#form1  {margin: .5em 0;}
.category-excerpt table, th, tr td {border:0px;margin:0px;}
.category-excerpt {font-size:.9em;line-height:1.3em;}
a.cat-url {font-size:.9em;}
a.comments-url {font-size:.9em;}
.carousel-caricaturas.su-carousel-centered {margin-bottom:0px;}
#cat-dest-img-bot {
position: absolute;
display: block;
bottom: 0px;
left: 0px;
height: 30px;
width: 100%;
max-width: 100%;
color: #fff;
background: rgba(0, 0, 0, 0.5);
border-radius: 0;
opacity: 1;
font-size: 11pt;
}
#cat-dest-img-bot a.comments-url {font-size:inherit}
.category #widget {
margin-right: 0px;
margin-left: 2px;
}
.category #wrapper {padding: 0 8px 4px 8px;}
.category #content-archive.col-620 {
width:685px;
margin:10px 3px 0 0;
/*margin-left: 6px;*/
}
.category .fp-title-bar {margin: 10px 10px 4px 0px;}
.category .post-entry {margin-bottom:20px;}
.category .su-heading-inner {margin:4px 0 4px 0;}
.category .su-column-size-1-3 {
width: 240px;
position: relative;
float: right;
margin: 0 10px 10px 0;
}
.category-nosotras .su-column-size-1-3 {float:left;}
.category .su-column-size-2-3 {
width:430px;
position:relative;
float:left;
margin:10px 0 10px 0px;
}
#breves-widget {width:290px;border:1px solid #ccc; padding:5px 5px 0px 5px;margin:0 auto;}
.futbol-total {
clear:both;
border:1px solid #ccc;
}
.futbol-total .su-slider-centered {margin-bottom:0px;}
.game-summary {
display:block;
position:absolute;
top:3.8%;
margin:0px;
height:39.46%;
width:100%;
color:#fff;
}
.home-team {
position:relative;
float:left;
width:50%;
}
.away-team {
position:relative;
float:right;
width:50%;
}
.game-summary img {
width:100px;
height:103px;
padding-bottom:10px;
}
.home-logo {
margin:0 0 0 82px;
}
.away-logo {
margin:0 0 0 82px;
}
.team-name {width:110px;margin:0 0 0 77px;text-align:center;font-size:1.5rem;text-shadow: 2px 2px 2px #000;}
.score {
display: block;
width: 100%;
height: 15%;
text-align: center;
position: absolute;
top: 53%;
color: #fff;
font-size: 4rem;
font-weight:700;
text-shadow: 2px 2px 2px #000;
}
.futbol-notas {
position:absolute;
width:100%;
height:22%;
bottom:0;
margin-left:10px;
line-height:1.3em;
}
.futbol-notas a {
color: #fff;
font-size: 1rem;
line-height:1rem;
text-shadow: 2px 2px 2px #000;
}
.carousel-cartelera .su-carousel-slide img {
padding:0px;
border-radius: 0px;
border: 3px solid #000;
margin: 10px;
width: 88%;
}
.marcador {width:100%;position:relative;float:left;border: 1px solid #ccc;}
.marcador-inner {width:100%;height:80px;position:relative;float:left;}
.marcador-left {width:50%;height:80px;position:relative;float:left;}
.marcador-right {width:50%;height:80px;position:relative;float:right;}
.marc-home-team-name {text-align:center;line-height:5;width:50%;height:80px;color:#606060;font:Arial;font-size:22;font-weight:900;position:relative;float:left;}
.marc-away-team-name {text-align:center;line-height:5;width:50%;height:80px;color:#606060;font:Arial;font-size:22;font-weight:900;position:relative;float:left;}
.marc-home-team-logo {padding-left:1%;padding-right:1%;position:relative;float:left;width:26%;height:80px;}
.marc-away-team-logo {padding-right:1%;padding-left:1%;position:relative;float:left;width:26%;height:80px;}
.marc-home-team-logo img, .marc-away-team-logo img {width:89px;height:80px;}
.marc-score {line-height:1.6;color:#fff;font-family:Arial;font-size:3.5em;font-weight:bold;width:22%;height:80px;text-align:center;vertical-align:middle;position:relative;float:left;}
.marc-game-title {display:table-cell;border-top: 1px solid #ccc;border-collapse:collapse;width:100%;min-height:10px;color:#606060;font:Arial;font-size:22;font-weight:400;text-align:center;position:relative;float:left;}
.marc-game-status {position:relative;float:left;margin-left:10px;font-size:1.2em;font-weight:900;color:#fff;}
.desc-apps-icons img {padding-right:8px;}
#comport-graph {width:390px;position:relative;float:right;}
#dom-breves {margin-right:10px;width:290px;border: 1px solid #ccc;padding:5px 5px 0px 5px;position:relative;float:right;}
.dom-dest-img a {color:#fff;}
.dom-dest-img img {width:682px;height:384px;}
/*.dom-dest-title-block {position:absolute;display:block;bottom:20px;left:20px;height:308px;width:199px;color:#fff;background:rgba(0, 0, 0, 0.5);border-radius:0;opacity:1;font-size:11pt;z-index:10;}*/
.dom-dest-title-block {position:absolute;display:block;bottom:20px;left:20px;height:308px;width:199px;color:#fff;background:rgba(666, 666, 666, 0.25);border-radius:0;opacity:1;box-shadow: 0px 0px 8px 1px #ccc;z-index:10;}
.dom-img {position:absolute;display:block;bottom:10px;right:10px;width:206px;height:31px;z-index:10;}
.dom-img img {width:100%;height:100%}
.dom-dest-titles-inner {padding:10px 15px;}
.dom-dest-story-title a {font-family:StagSansBook;font-size:1.875em;line-height:1.3em;}
.dom-dest-titles a {font-family:Arial;font-size:.875em;line-height:1.1em;}
#dom-left {width:360px;position:relative;float:left;padding:0;}
#dom-left .tcpf {width:360px;min-height:250px;}
#dom-left .img-div {width:360px;}
#dom-left img {width:360px;}

/* need media query less than or = to 960 is #fff else #dbdbdb so moving this rule to media-query-rules.css */
.category-lptv #wrapper {background-color:#dbdbdb;}
/* need media query less than or = to 960 is #fff else #dbdbdb so moving this rule to media-query-rules.css */


.category-lptv #content-archive{background-color:#fff;}
.category-lptv .post {margin-left:10px;}
.su-post.cat-op {width:33.23%;position:relative;float:left;}
#cat-op-bottom {width:100%;height:10px;background-color:#006699;}
.cat-op-story-inner {width:90%;}
#op-title-2 {color: #369;padding-left: 10px;}
#op-excerpt-2 {display:table-cell;text-align: justify;padding: 10px;border-top: 1px solid #eee;}
.op-titlebox-2 {display:table-cell;}
.op-box-2 {margin-right: 5px;margin-top: 15px;position: relative;float: left;border: 1px solid #eee;}
#oppicwrap-2 {padding: 10px;position: relative;float: left;display: table-cell;background-color: #f5f5f5;}
#esp-gal .gallery-item {max-width:71px;}
#esp-gal img.attachment-thumbnail {margin:4px auto;} 
#esp-gal dt {margin-top:0;} 
ul {list-style-image:url('http://laprensa13.doap.us/images/arrow-right.png');}
.single-title {font-size:1.8em;font-family:Arial Bold;}
.featured-image img {margin-top:0;margin-bottom:0;}
ul.intro {margin:10px 10px 10px 0;}
.category-espectaculo #lptv-slider img {background-color: #fff;padding:0;border:0;}
.category-espectaculo #lptv-slider .su-carousel-centered{margin-bottom:0;}
.dom-sb-ad {clear:both;margin-top:10px;}
#cat-dest-img-bot img {height:14px;width:14px!important;}
.econ-left {width:250px;height:auto;margin: 0px 0px 0px 0px;position:relative;float:left;}
/*
div.ppt {
display: block;
opacity: 1;
position: absolute;
bottom:15px;
margin-left: 130px;
width: 72%;
color: #606060;
background-color: #fff;
font-family: Arial;
font-size: 1em;
line-height: 1em;
}
*/
/* @media (max-width:685px) { #searchformlptv { display:none; } */



.laprensa-thumbnail { display:none; }
#story-2 .post-entry {clear:initial;} 
#story-no-clear .post-entry {clear:none;} 
#feedburnerformwidget-2 { position:relative;top:-15px; }

.subscription_email { width:150px; }

.subscription_btn { width:100px; }

#suscribase { position:relative; left:42px; }

.gallery .gallery-caption {display: none;}

#content-archive > div:nth-child(4) > div > div.su-box-content.su-clearfix { padding:0em; }

#post-1148009 > div.post-entry > div > div.su-box-content.su-clearfix { padding:0em; }

#op-tab1 { font-size:.8em; }
#op-tab2 { font-size:.8em; }
#op-tab3 { font-size:.8em; }
.scorebox {
     padding-top:10px;
     height:27px;
     width:100px;
    font-size:4em;
    font-weight:900;
    color:#fff;
    background-color:#909090;
vertical-align: middle!important;
 }
.ui-helper-center {
    text-align: center;
    size:3em;
    color:#fff;
    background-color:#606060;
}

#scoreboard-strip {
    background: url("http://noticias.laprensa.com.ni/wp-content/uploads/sites/2/2014/05/score-background.png") no-repeat;
    width: 100%;
    height: 25px;
   /* border: 1px solid;*/
    background-size:contain;
}



#tag_cloud-1 > h2 { display:none }
#tag_cloud-2 > h2 { display:none }
#tag_cloud-3 > h2 { display:none; }
#tag_cloud-4 > h2 { display:none }
#tag_cloud-5 > h2 { display:none }
#tag_cloud-6 > h2 { display:none }
#tag_cloud-7 > h2 { display:none }
#tag_cloud-8 > h2 { display:none }
#tag_cloud-9 > h2 { display:none }
#tag_cloud-10 > h2 { display:none }
#tag_cloud-11 > h2 { display:none }
#tag_cloud-12 > h2 { display:none }
#tag_cloud-13 > h2 { display:none }
#tag_cloud-14 > h2 { display:none }
#tag_cloud-15 > h2 { display:none }
#tag_cloud-16 > h2 { display:none }
#tag_cloud-17 > h2 { display:none }
#tag_cloud-18 > h2 { display:none }


#searchsubmit { background-color:#369; }

.carousel-lptv .su-carousel-slide img {
border: 0px;
background:none;
-webkit-border-radius: 0px;
}

#tablepress-23-no-2_wrapper > div > div.dataTables_scrollHead > div > table { width:328px; }


#cat-breves-slider .su-carousel-prev, #cat-breves-slider .su-carousel-next {
position: absolute;
top:inherit;
margin-left:200px;
width: 30px;
height: 35px;
margin-top: 0px;
background: url('http://noticias.laprensa.com.ni/wp-content/plugins/shortcodes-ultimate/assets/images/swiper/flechas.png') no-repeat;
opacity:1;
border-radius: 0px;
-moz-border-radius:0px;
}
#cat-breves-slider .su-carousel {margin-bottom:6px;}
#cat-breves-slider .su-carousel-prev {
right: 0px;
margin-right: 2px;
background-position: -40px 0;
opacity:1;
}
#cat-breves-slider .su-carousel-next {
left: 23px;
background-position: 0 0;
opacity:1;
}
#cat-breves-slider .su-carousel-prev:hover, #category-slider .su-carousel-next:hover {
filter: alpha(opacity=100);
opacity: 1;
}

#breveswrapper{
float: left;
height:26px;
width: 100%;
border-top: 1px solid #ccc;
}

#brevescolumn{
margin-right: 88px;
display:table-cell;
}

#brevesleftcolumn{
float: left;
display:table-cell;
width: 24px; 
height:24px;
margin-left: -58px; 
border: 1px solid #ccc;
margin-top: 7px;
}

#brevesrightcolumn{
float: left;
display:table-cell;
width: 24px;
height:24px;
margin-left: -26px;
border: 1px solid #ccc;
margin-top: 7px;
}


#su_carousel_538e21dba7ecd .su-carousel-slides { border:1px solid #ccc; }


#su_carousel_538e21dba7ecd .su-carousel .su-carousel-slide img {
padding: 2px;
border: 1px solid #000;
background: #000;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
}
.futbol-total-gallery.su-custom-gallery {margin:0px;margin-bottom:0px;}
.futbol-total-gallery .su-custom-gallery-slide {margin:0px;}
.futbol-total-gallery .su-custom-gallery-slide img {
display: block;
margin: 0;
padding:0px;
border:0px;
/*border: 1px solid #ccc;*/
background: #ccc;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
}
.futbol-total-slider.su-slider {margin-bottom:0px;}
.futbol-total-slider.su-slider-centered {margin-bottom:0px;}






#category-slider {
margin-left: 5px;
padding-left: 5px;
margin-right: 5px;
padding-right: 20px;
overflow:hidden;}

.carousel-cartelera .su-carousel-prev, .carousel-cartelera .su-carousel-next, #category-slider .su-carousel-prev, #category-slider .su-carousel-next {
position: absolute;
top: 0px;
margin-left:550px;
width: 30px;
height: 40px;
margin-top: 0px;
background: url('http://noticias.laprensa.com.ni/wp-content/plugins/shortcodes-ultimate/assets/images/swiper/cat-b-default.png') no-repeat;
opacity:1;
border-radius: 0px;
-moz-border-radius:0px;
}
#category-slider2 .nos_carousel_title {color: #cc0066;position: relative;font-weight: 400;font-size: 1.2em;margin: 4px 0px;font-family: StagBook;} 
#category-slider2 .nos_carousel_description {text-align:justify;font-family: StagBook;font-size:1em;}
#category-slider2 .su-carousel-prev, #category-slider2 .su-carousel-next {
position: absolute;
margin-left:550px;
width: 30px;
height: 40px;
margin-top: 0px;
top: -10px;
background: url('http://noticias.laprensa.com.ni/wp-content/plugins/shortcodes-ultimate/assets/images/swiper/cat-c-default.png') no-repeat;
opacity:1;
border-radius: 0px;
-moz-border-radius:0px;
}
#category-slider .su-carousel {margin-bottom:0px;}
.carousel-cartelera .su-carousel-prev, #category-slider .su-carousel-prev, #category-slider2 .su-carousel-prev {
right: 0px;
margin-right: 5px;
background-position: -40px 0;
opacity:1;
}
.carousel-cartelera .su-carousel-next, #category-slider .su-carousel-next, #category-slider2 .su-carousel-next {
left: 20px;
background-position: 0 0;
opacity:1;
}
.carousel-cartelera .su-carousel-prev:hover, .carousel-cartelera .su-carousel-next:hover, #category-slider .su-carousel-prev:hover, #category-slider .su-carousel-next:hover, #category-slider2 .su-carousel-prev:hover, #category-slider2 .su-carousel-next:hover {
filter: alpha(opacity=100);
opacity: 1;
}
#category-slider .su-carousel-slides {
margin: 1px 1px;
top:-30px;
padding-top:20px;
border: 1px solid rgb(204, 204, 204);
overflow:hidden;}
#category-slider .su-carousel-slide img {
padding: 0px;
border:0;
border-radius: 0px;
-moz-border-radius:0px;
-webkit-border-radius: 0px;
width:190px;
border: 1px solid rgb(204, 204, 204);
}
.cat_carousel_title {margin-right:7%}
.cat_carousel_description {margin-right:15px}
#tablepress-21 .column-1 img { position:relative;top:30px; }

#tablepress-22 .column-1 img { position:relative;top:30px; }


.su-carousel .su-carousel-slide-title {
position: absolute;
left: 9px;
right: 9px;
top: 4px;
display: block;
padding: 2px 3px;
color: #000;
line-height: 1.2;
font-size: 15px;
width:300px;
background: #fff;
background: rgba(0, 0, 0, 0.5);
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
transition: opacity 1s;
-o-transition: opacity 1s;
-ie-transition: opacity 1s;
-moz-transition: opacity 1s;
-webkit-transition: opacity 1s;
}

.carousel-cartelera .su-carousel-slide-title {display:none;}
.cart-prox .su-carousel-slides {margin-left:1px;}
.cart-prox .su-carousel-slide img {
border-radius: 0px;
padding: 0px;
border: 3px solid #000;
width: 95%;
}
.cart-prox .su-carousel-slide-title {display:none;}

.lptv-excerpt { padding-left:10px; }

/*
@media (max-width:650) { 
.main-nav { height:30px; } 
#wrapper { top:10px; } 
#responsive_current_menu_item { height:30px; }
#header { height:130px; }
}
*/


.line-container {
        display:table-cell;
        width:100%;
}
.line {
height:1px;
margin-bottom:0.3em;
width:100%;
background:#717171;
border-bottom:1px solid #313030;
}
.tcpf h1,
.tcpf h2,
.tcpf h3,
.tcpf h4,
.tcpf h6 {
        font-size: 16px;
        margin: 0;
        line-height: 1.6;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.su-heading-style-modern-1-blue .su-heading-inner {
display:initial;
padding: 0px;
line-height:1.2;
}
.su-heading.su-heading-align-left .su-heading-inner {font-size:.9em;padding-left:0px;}

.title-left {
        display:table-cell;
        min-width:42px;
        padding-right:4px;
        white-space:nowrap;
	font-family: StagSansBook;
}

.twodots {
        display:table-cell;
padding:0px;
min-height:13px;
min-width:4px;
width: 100%;
background-image: url('http://laprensa12.doap.us/images/2dots.png');
background-position: left center;
background-repeat: repeat-x;
vertical-align:top;
}


#su_carousel_53866add24bee > div.su-slider-slides > div:nth-child(2) > a > span { position:relative;width:200px;top:-50px;z-index:10000;background-color:#909090;font-size:1.2em; }


#thetabs { font-size:.9em;background-color:#369;padding-right:5px;padding-left:5px;color:#fff;font-family:Arial; border-radius: 5px     5px      0           0; }

.su-heading-style-modern-1-blue {
border-bottom: 0px solid #000;
color: #000;
line-height:1;
}

/*.su-slider-slide-title { margin:0px;font-size:2em;bottom:0px;left:0px;height:100px;width:100%;max-width:100%;border-radius:0; } */




th, td {
padding: .2em;
}

.tablepress { margin-bottom:0em; }

#su_slider_537ff9adb6e10 > div.su-slider-slides > div.su-slider-slide.su-slider-slide-visible.su-slider-slide-active > a > img { color:#fff;size:1.2em; }


/*
@media (min-width: 300px) and (max-width: 979px) {
#tv-box-wrapper { display:none; }
#content > div:nth-child(8) > div > div.su-column.su-column-size-1-4 { display:none; }
#blockofsidebarads { display:none; }
#aftersidebar { display:none; }
#shortcodes-ultimate-81 { display:none; }
#shortcodes-ultimate-89 { display:none; }
}
*/

.category-aqui-entre-nos { width:98%; }

.category-la-prensa-domingo { width:98%; }


#simple_ads_manager_zone_widget-2 { display:none; }

#middle-home-ad-468x60 { background-color:#ccc;width:468px;height:60px; }

#container { padding: 0px 2px; }




/*
@media (max-width: 1006px) {
#lptvhb-top-social-icons  { display:none; }
#lptvhb-spacer  { display:none; }
#lptvhb-search { display:none; }
.linkstrips { display:none; }
.topsidead { display:none; }
.topad { display:none; }
#medad { display:none; }
#lptv-main-box {position:relative;}
#destacados-deportes { display:none; }
#middle-home-ad-468x60 { display:none; }
#simple_ads_manager_zone_widget-2 { display:none; }
#shortcodes_ultimate-106 { display:none; }
#shortcodes-ultimate-101 { display:none; }
#rightad { display:none; }
#leftad { display:none; }
.home-728x90 { display:none }
#contactanos-banner { display:none; }
#shortcodes-ultimate-106 { display:none; }
}
*/
.trapezoid{
    vertical-align: middle;
    position:absolute;
    border-top: 60px solid #369;
    border-left: 45px solid transparent;
    border-bottom-left-radius:30px;
    *border-bottom-right-radius:15px;
    *border-top-right-radius:3px;
    height: 0;
    width: 60%;
    display: inline-block;
    right:1px;
}

#sports-words {
    position:absolute;
    color:#fff;
    z-index:10000;
    left:50px;
    top:5px;
    font-family:Arial Black;
    background-color:#909090;
    padding-left:0px;
}


/*
#top_bar{
    background-color: #000;
    border-bottom: 1px solid #666;
    color: #222;
    position:fixed;
    left:0px;
    top: 0px;
    width:100%;
    overflow:hidden;
    height: 90%;
    font-weight: normal;
    white-space: nowrap;
    color: white;
    z-index:20; 
    line-height: 45px;
    min-width:320px;
    max-width: 100%;
    max-height:28px;
    border-radius: 5px;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px; 
}

#top_bar:after {
    content: '';
    width: 10%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#top_title, #top_left_button, #notifications, #top_right_button {
    color: white;
    height: 100%;
    overflow:hidden;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
#top_left_button,#top_right_button{
    width: 100px;
    background: rgba( 100, 255, 255, .1 );
}

#top_left_button{
    border-right: 2px solid #666;
}
*/
#tablepress-21 > caption { display:none }
#tablepress-22 > caption { display:none }
#tablepress-19 > caption { display:none; }
#tablepress-20 > caption { display:none; }



#tv-box-group > div > div.su-custom-gallery.su-custom-gallery-title-always.lptv-gallery-sidebar.su-lightbox-gallery > div.su-custom-gallery-slide > a:nth-child(2) > span { height:18px;font-size:1.1em;background-color:#fff;color:#369;position:relative;left:-4px;border:4px solid #000;width:289px; }

#hideonipad { position:relative;left:-5px; }

#shoppingcart-widget-4 { margin:2px;padding:2px; }

#content { margin-right:8px; } 
/* #tv-widget > div.su-tabs.su-tabs-style-default.su-tabs-vertical > div.su-tabs-panes > div:nth-child(1) { padding-bottom:2px;padding-top:2px; } */


#su_carousel_536d98e114cd4 { margin-bottom:3px; }

#su_slider_536d97ebb9f12 { margin-bottom:5px; }


#su_carousel_536c970291eaa { margin-bottom:2px; }
#su_carousel_536c95ef4ea88 { margin-bottom:2px; }

/*
#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-panes > div:nth-child(2) > div > div.su-box-content.su-clearfix { padding:0px; }
#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-panes > div:nth-child(1) > div > div.su-box-content.su-clearfix { padding:0px; }
#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-panes > div:nth-child(3) > div > div.su-box-content.su-clearfix { padding:0px; }
#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-nav { padding:.5px;margin:0px; }
#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-box.su-box-style-soft.archivo-aside > div.su-box-content.su-clearfix { padding:0px; } 
*/

#su-post-thumbnail {padding-right:10px; }

 #simple_ads_manager_widget-4 > div.widget-title { display:none; }
 
#simple_ads_manager_widget-4 { padding:0; }


#simple_ads_manager_widget-3 > div.widget-title { display:none; }
#simple_ads_manager_widget-3 {padding:0px;}

#enlasnoticiaslink { a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:#00FF00;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */ }


#ipad-only { display:none; }
#post-79 > h1 { display:none; }

/*
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
.ipad-portrait {color:red;}
#toprightad { display:none; }
#rightad { display:none; }
#leftad { display:none; }
#hideonipad { display:none; }
.bottom-corner-ad { display:none; }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
.ipad-landscape { color: blue; }
#rightad { display:none; }
#leftad { display:none; }
}
*/


#post-213 > div.post-entry > p:nth-child(1) {  display:none; }
#post-213 > h1 { display:none; }
 
/*
@media (max-width: 980px) { 
#shortcodes-ultimate-86 { display:none;}
#shortcodes-ultimate-101 { display:none;}
#shortcodes-ultimate-80 { display:none;}
}
*/


/*
@media (max-width: 980px) {
#shortcodes-ultimate-101 { display:none; }
}
#widgets { 
margin-top:0px;
width: 320px;
}
*/
.tcp-grid-item {
width: 100%;
padding: 10px;
line-height: 1.625em;
text-decoration: none;
-moz-border-radius: 0px;
-khtml-border-radius: 0px;
-webkit-border-radius: 0px;
vertical-align: top;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
overflow: hidden;
position: relative;
}

#youtubefeederwidget-2 { background-color:#000; border-color:#000; }
#center-ad-4 { display:none; }
#tcp_shortcode_tag_cloud > div > div > div.tcp-product-439979.tcp_col.tcp_col_1.tcp_col_xs_1.tcp_2_cols.col-xs-6.col-sm-6.col-md-6.col-lg-6 > div > div > div > span > span.tcp-product-taxonomy.tcp-product-taxonomy-category { display:none; }

#tcp_shortcode_tag_cloud > div > div > div.tcp-product-444272.tcp_col.tcp_col_2.tcp_col_xs_2.tcp_2_cols.col-xs-6.col-sm-6.col-md-6.col-lg-6 { display:none; }

#tcp_shortcode_tag_cloud > div > div > div.tcp-product-439979.tcp_col.tcp_col_1.tcp_col_xs_1.tcp_2_cols.col-xs-6.col-sm-6.col-md-6.col-lg-6 { width:100%; }

#post-213 > h1 { display:none; }
 #post-58 > h1 { display:none; }

#youtubefeederwidget-2 { max-height:250px;padding:0px; }


.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #369;
	border-radius: 3px;
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
	padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #6FB7E9;
}

/**
 *  * header and footer styles
 *  */
#footer {
  background:#2b4c92;
}
#footer .footer-menu a {
  border:none;
  color:#fff;
  font-size:15px;
  font-weight:700;
}
#footer .textwidget {
  color:#fff;
}
#footer .widget-wrapper {
  background:transparent;
  color:#fff;
  padding:0;
}
#footer a, #footer a:hover {
  color:#fff;
  text-decoration:none;
}
#footer div {
  color:#fff;
}
#footer-menu-container {
  background-color:#3b5da1;
}
#footer-wrapper {
  margin:0 auto;
}
#menu-informationlinks li a {
  color:#fff;
}
#top-bar-container .widget-wrapper {
  background:none;
  border:none;
  margin:0;
  padding:0;
  display: block;
  float: left;
}
#top-bar-container .widget-wrapper form {
  margin: 0;
}
.top-menu{
  float:left;
}
.top-menu li {
  border-left:1px solid #ccc;
  display:inline-block;
}
.top-menu li a {
  border-left:none;
  color:#2b4c92;
  font-size:13px;
  font-weight:400;
  font-family:StagBook;
}
.top-menu li a:hover {
  color:#3b5da1;
}
ul.social-icons img {
  max-height:30px;
  max-width:30px;
}
#footer .footer-menu a {
  display:inline-block;
  text-decoration:none;
}
#menu-informationlinks {
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}
#menu-informationlinks li {
  display:inline;
  float:left;
  width: 50%;
}
#menu-informationlinks li a {
  font-size:13px;
  text-decoration:none;
}
.social-icons {
  display: block !important;
}

#thetabs { font-size:.9em;background-color:#369;padding-right:5px;padding-left:5px;color:#fff;font-family:Arial; border-radius: 5px 5px 0 0; }

.su-heading-style-modern-1-blue {
border-bottom: 0px solid #000;
color: #333;
line-height:1;
}

/*
.su-slider-prev,
.su-slider-next {
background: rgb(0, 0, 0) 0 0 url('http://noticias.laprensa.com.ni/wp-content//plugins/shortcodes-ultimate/assets/images/swiper/default.png') no-repeat;
}
*/




th, td {
padding: .2em;
}

.tablepress { margin-bottom:0em; }

#su_slider_537ff9adb6e10 > div.su-slider-slides > div.su-slider-slide.su-slider-slide-visible.su-slider-slide-active > a > img { color:#fff;size:1.2em; }


#simple_ads_manager_zone_widget-2 { display:none; }

#middle-home-ad-468x60 { background-color:#ccc;width:468px;height:60px; }

#container { padding: 0px 2px; }



/*
@media (max-width: 1006px) {
#lptvhb-top-social-icons  { display:none; }
#lptvhb-spacer  { display:none; }
#lptvhb-search { display:none; }
.linkstrips { display:none; }
.topsidead { display:none; }
.topad { display:none; }
#medad { display:none; }
#lptv-main-box {position:relative;margin: 13px 0 0 0;}
#destacados-deportes { display:none; }
#middle-home-ad-468x60 { display:none; }
#simple_ads_manager_zone_widget-2 { display:none; }
#shortcodes_ultimate-106 { display:none; }
#shortcodes-ultimate-101 { display:none; }
#rightad { display:none; }
#leftad { display:none; }
.home-728x90 { display:none }
#contactanos-banner { display:none; }
#shortcodes-ultimate-106 { display:none; }
}
*/

.trapezoid{
    vertical-align: middle;
    position:absolute;
    border-top: 60px solid #369;
    border-left: 45px solid transparent;
    border-bottom-left-radius:30px;
    *border-bottom-right-radius:15px;
    *border-top-right-radius:3px;
    height: 0;
    width: 60%;
    display: inline-block;
    right:1px;
}

#sports-words {
    position:absolute;
    color:#fff;
    z-index:10000;
    left:50px;
    top:5px;
    font-family:Arial Black;
    background-color:#909090;
    padding-left:0px;
}



#top_bar{
    background-color: #000;
    border-bottom: 1px solid #666;
    color: #222;
    position:fixed;
    left:0px;
    top: 0px;
    width:100%;
    overflow:hidden;
    height: 90%;
    font-weight: normal;
    white-space: nowrap;
    color: white;
    z-index:20; 
    line-height: 45px;
    min-width:320px;
    max-width: 100%;
    max-height:28px;
    border-radius: 5px;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px; 
}

#top_bar:after {
    content: '';
    width: 10%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#top_title, #top_left_button, #notifications, #top_right_button {
    color: white;
    height: 100%;
    overflow:hidden;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
#top_left_button,#top_right_button{
    width: 100px;
    background: rgba( 100, 255, 255, .1 );
}

#top_left_button{
    border-right: 2px solid #666;
}

#tablepress-21 > caption { display:none }
#tablepress-22 > caption { display:none }
#tablepress-19 > caption { display:none; }
#tablepress-20 > caption { display:none; }



#tv-box-group > div > div.su-custom-gallery.su-custom-gallery-title-always.lptv-gallery-sidebar.su-lightbox-gallery > div.su-custom-gallery-slide > a:nth-child(2) > span { height:18px;font-size:1.1em;background-color:#fff;color:#369;position:relative;left:-4px;border:4px solid #000;width:289px; }

#shoppingcart-widget-4 { margin:2px;padding:2px; }

#content { margin-right:8px; } 
/* #tv-widget > div.su-tabs.su-tabs-style-default.su-tabs-vertical > div.su-tabs-panes > div:nth-child(1) { padding-bottom:2px;padding-top:2px; } */



#su_carousel_536d98e114cd4 { margin-bottom:3px; }

#su_slider_536d97ebb9f12 { margin-bottom:5px; }

#su_carousel_536c970291eaa { margin-bottom:2px; }
#su_carousel_536c95ef4ea88 { margin-bottom:2px; }
#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-panes > div:nth-child(2) > div > div.su-box-content.su-clearfix { padding:0px; }

#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-panes > div:nth-child(1) > div > div.su-box-content.su-clearfix { padding:0px; }


#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-panes > div:nth-child(3) > div > div.su-box-content.su-clearfix { padding:0px; }

#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-tabs.su-tabs-style-default.my-custom-tabs > div.su-tabs-nav { padding:.5px;margin:0px; }

#post-58 > div.post-entry > div > div.su-column.su-column-size-1-4 > div > div.su-box.su-box-style-soft.archivo-aside > div.su-box-content.su-clearfix { padding:0px; } 

#su-post-thumbnail {padding-right:10px; }

 #simple_ads_manager_widget-4 > div.widget-title { display:none; }
 
#simple_ads_manager_widget-4 { padding:0; }


#simple_ads_manager_widget-3 > div.widget-title { display:none; }
#simple_ads_manager_widget-3 {padding:0px;}

#enlasnoticiaslink {
a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:#00FF00;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */ 
}

#ipad-only { display:none; }
#post-79 > h1 { display:none; }

#post-213 > div.post-entry > p:nth-child(1) {  display:none; }
#post-213 > h1 { display:none; }
 
/*
@media (max-width: 700px) { 
#shortcode-ultimate-80 { display:none; } 
 #shortcode-ultimate-86 { display:none; }
#shortcodes-ultimate-101 { display:none; }
#topsidead { display:none; }
.social-icons { display:none; }
.bottom-corner-ad { display:none; }
}

@media (max-width: 980px) { 
#shortcodes-ultimate-86 { display:none;}
#shortcodes-ultimate-101 { display:none;}
#shortcodes-ultimate-80 { display:none;}
}
@media (max-width: 980px) {
#shortcodes-ultimate-101 { display:none; }
}
*/

#widgets { 
margin-top:0px;
width: 320px;
}
.tcp-grid-item {
width: 100%;
padding: 10px;
line-height: 1.625em;
text-decoration: none;
-moz-border-radius: 0px;
-khtml-border-radius: 0px;
-webkit-border-radius: 0px;
vertical-align: top;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
overflow: hidden;
position: relative;
}

#youtubefeederwidget-2 { background-color:#000; border-color:#000; }
#center-ad-4 { display:none; }
#tcp_shortcode_tag_cloud > div > div > div.tcp-product-439979.tcp_col.tcp_col_1.tcp_col_xs_1.tcp_2_cols.col-xs-6.col-sm-6.col-md-6.col-lg-6 > div > div > div > span > span.tcp-product-taxonomy.tcp-product-taxonomy-category { display:none; }

#tcp_shortcode_tag_cloud > div > div > div.tcp-product-444272.tcp_col.tcp_col_2.tcp_col_xs_2.tcp_2_cols.col-xs-6.col-sm-6.col-md-6.col-lg-6 { display:none; }

#tcp_shortcode_tag_cloud > div > div > div.tcp-product-439979.tcp_col.tcp_col_1.tcp_col_xs_1.tcp_2_cols.col-xs-6.col-sm-6.col-md-6.col-lg-6 { width:100%; }

#post-213 > h1 { display:none; }
 #post-58 > h1 { display:none; }

#youtubefeederwidget-2 { max-height:250px;padding:0px; }


